.routes-index-box {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.route-index-intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 148px;
  margin-top: 10px;
}

.routes-index-header {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin: 28px 50px 10px 50px;
}

.routes-index-create-button {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #fc4c02;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 43px;
  cursor: pointer;
  margin-top: 20px;
}

.routes-create-link {
  text-decoration: none;
}

.routes-index-list-box {
  margin: 0 auto;
  width: 77.4%;
}

// UL containing each route LI
.routes-index-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.route-item-box {
  margin: 10px;
  width: 300px;
}

.route-item-image {
  width: 300px;
  height: 180px;
}

.route-item-data {
  background: #F7F7F7;
  padding-left: 15px;
  padding-top: 10px;
}

.route-item-title {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #5D7EB1;
  text-decoration: none;
  background: #F7F7F7;
}

.route-item-title:hover {
  text-decoration: underline;
}

.route-item-dist-elev {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.route-item-elevation-box {
  margin-left: 24px;
}

.route-item-distance, .route-item-elevation {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.route-item-distance-tag, .route-item-elvation-tag {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #98989C;
}

.route-item-date {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #98989C;
}

.route-item-date-box {
  background: #F0F0F0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
