html, body, #root, .outer-main-div {
  height: 95.8%;
}

.routes-map-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.routes-map {
  width: 100%;
  height: 100%;
}

.routes-form-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.route-title-input {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  vertical-align: middle;
  border: 1px solid #666;
  color: black;
  min-height: 25px;
  background: white;
  width: 291px;
  height: 40px;
  padding-left: 8px;
  margin: 0px 0px 0px 100px;
}

.routes-create-button {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #fc4c02;
  border-radius: 3px;
  border: none;
  width: 300px;
  height: 43px;
  cursor: pointer;
  margin: 0px 109px 0px 0px;
}

.routes-bikelayer-button {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #fc4c02;
  border-radius: 3px;
  border: none;
  width: 150px;
  height: 43px;
  cursor: pointer;
  margin: 0px 110px 0px 30px;
}
