html, body, #root, .outer-main-div {
  height: 96.82%;
}

.routes-map-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.routes-map {
  width: 1000px;
  height: 600px;
}
