.routes-map-box {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.routes-map {
  width: 100%;
  height: 100%;
}

.routes-form-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.routes-title-help {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 37px
}

.route-title-input {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  vertical-align: middle;
  border: 1px solid #666;
  color: black;
  min-height: 25px;
  background: white;
  width: 291px;
  height: 40px;
  padding-left: 8px;
  margin: 0px 0px 0px 80px;
}

.routes-help-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  background-image: image-url("/assets/help.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  margin-left: 8px;
  //fade-in effect
  opacity: 0.25;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}

.routes-help-icon:hover {
  //fade-in effect
  opacity: .6;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}

.routes-errors-icon {
  display: block;
  position: relative;
  // background-image: image-url("/assets/errors.png");
  // background-size: 30px 30px;
  // background-repeat: no-repeat;
  margin-left: 8px;
}

.routes-errors-image {
  margin-top: 3px;
  width: 30px;
  height: 30px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}

.routes-errors-icon:hover .routes-errors-box {
  opacity: .9;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}

.routes-help-icon:hover .routes-tooltip {
  visibility: visible;
  transition: 550ms all;
}

.routes-errors-box {
  width: 350px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
  background: rgba(0,0,0,0.6);
  border: none;
  padding: 5px 0;
  // Position the tooltip
  position: absolute;
  z-index: 1;
  bottom: 175%;
  left: 25%;
  margin-left: -175px;
  // fade-in effect
  opacity: 0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}

.routes-errors-box:hover {
  opacity: 0.0;
}

.routes-tooltip {
  visibility: hidden;
  opacity: 1.0;
  width: 350px;
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
  background: rgba(0,0,0,.9);
  border: none;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 175%;
  left: 25%;
  margin-left: -175px;
  transition: 550ms all;
}

.routes-tooltip:hover {
  opacity: 0.0;
  transition: 550ms all;
}

.routes-create-dist{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.routes-create-button {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #fc4c02;
  border-radius: 3px;
  border: none;
  width: 300px;
  height: 43px;
  cursor: pointer;
  margin: 0px 0px 0px 144px;
  opacity: 1.0;
  transition: opacity 0.7s ease-in-out;
}

.routes-create-button:disabled {
  background-color: gray;
  cursor: auto;
  opacity: 0.4;
}

.routes-distance {
  display: block;
  width: 100px;
  height: 30px;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
  color: black;
  margin-top: 5px;
  margin-left: 85px;
}

.routes-elevation {
  display: block;
  width: 100px;
  height: 30px;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
  color: black;
  margin-top: 5px;
  margin-left: 100px;
}

.routes-bikelayer-button {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #fc4c02;
  border-radius: 3px;
  border: none;
  width: 150px;
  height: 43px;
  cursor: pointer;
  margin: 0px 90px 0px 0px;
}
