.user-profile-main {
  width: 100%;
}

.user-stats-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #F7F7F7;
  padding-top: 15px;
  padding-bottom: 13px;
  width: 76%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.user-workouts-intro {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 10px;
}

.user-workouts-main {
  width: 78%;
  margin: 0 auto;
}

.user-workouts-main {
  width: 77%;
  margin: 0 auto;
}

.user-routes-main {
  width: 78%;
  margin: 0 auto;
}

.user-routes-intro {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin-bottom: 15px;
  margin-left: 14px;
}

.user-routes-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 4px;
}

.user-routes-list-box {
  width: 1000px;
  margin: 0 auto;
  width: 100%;
}
