.workouts-show-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.workouts-show-intro {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: #F7F7F7;
}

.workouts-show-username {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-left: 20px;
}

.workouts-show-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.workouts-show-date-title {
  padding: 25px;
}

.workouts-show-date {
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #98989C;
}

.workouts-show-title {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
  width: 300px;
}

.workouts-show-title:hover {
  color: #5D7EB1;
  text-decoration: underline;
}

.workout-show-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7px;
}

.workout-show-stats > div {
  font-size: 20px;
  width: 150px;
}

.workouts-show-delete-button {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #fc4c02;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 43px;
  margin-left: 100px;
  margin-top: 23px;
  cursor: pointer;
}

.workouts-show-map {
  width: 100%;
  height: 550px;
}
